<html>
<head>
<title>Abbott Glucose Meter Interface</title>
<style>
.main{
    width: 40%;
    hight: 40%;
    margin-top: 10%;
    Margin-left: 30%;
    }
</style>

</head>
<body>
<div class="main"id="main" name="main">
<h5>Abbott Freestyle Lite Downloader</h5>
<p>Plug the USB end of the cable into a USB port then plug the other end
into your meter.Now, click the Go button.
The program will download from your meter
and display the results on screen as a PDF file.<br>
The download may take a minute or so depending on the number of stored results...</p>
<form id="form1" action="/" method="POST">
<input type="submit" value="Go..."/>
</form>
</div>
</body>
</html>